.signin{ width:40%;  float:right;
    opacity:0.8;
    margin: 120px;
}
.check{
    float:left;
    color: blue;
    width:40%;
    text-align: left;
}

.forgot{
    float:right;
    color: blue;
    width:60%;
    text-align: right;
}
.clear{ clear: both;}
.bgimage{ background-image: url('/src/assets/images/loginBackground.jpg');
background-repeat: no-repeat; background-size: cover;
height: 600px;}